@page
@model IndexModel
@{
    ViewData["Title"] = "Settings";
    ViewData["ActivePage"] = ManageNavPages.Settings;
}

<h3>@ViewData["Title"]</h3>
<div class="row">
    <div class="col-md-6">
        Nothing to find here
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
