@using ImbaBetWeb.Logic
@using ImbaBetWeb.Models.Consts
@inject SettingsManager SettingsManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @(await SettingsManager.GetCachedSettingAsync<string>(SettingNames.BETTING_GAME_NAME))</h1>
</div>
